body {
  background-color: black;
}

h1 {
  color:rgb(180, 0, 0);;
  font-family: monospace;
  text-align: center;
}

p {
  color:#b8c4d8;
  font-family: comic;
  text-align: center;
}

ul {
  color:#b8c4d8;
  font-family: comic;
  text-align: center;
}

ol{
  color:#b8c4d8;
  text-align: center;
}

strong {
  color:white;
}
